@import "main.module.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#background {
    background-color: rgb(255, 249, 240);
    min-height: 100vh; /* Use viewport height */
    width: 100vw; /* Use viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    flex-direction: center;
    justify-content: flex-end;
    min-height: 57rem;
    box-sizing: border-box;
    margin-bottom: 10rem
}


.title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(255, 249, 240);
    color: black;
    text-decoration: none;
}

.title:hover {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}








