#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30% 30% 30%;
    grid-template-areas:
      "discoverIcon defineIcon ideateIcon designIcon testIcon"
      "discoverBlurb defineBlurb ideateBlurb designBlurb testBlurb"
      ". mainArrow mainArrow mainArrow ."
      ". onlineEthnographyIcon interviewIcon questionnaireIcon ."
      ". onlineEthnographyBlurb interviewBlurb questionnaireBlurb .";
    padding-top: 5%;
  }


img {
    width: 60%; 
    height: auto; 
    padding-left: 20%;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #333;
    text-align: center;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    color: #333;
    text-align: center;
}


#discoverIcon { 
    grid-area: discoverIcon; 
}

#defineIcon { grid-area: defineIcon; }

#ideateIcon { grid-area: ideateIcon; }

#designIcon { grid-area: designIcon; }

#testIcon { grid-area: testIcon; }

#discoverBlurb { grid-area: discoverBlurb; }

#defineBlurb { grid-area: defineBlurb; }

#ideateBlurb { grid-area: ideateBlurb; }

#designBlurb { grid-area: designBlurb; }

#testBlurb { grid-area: testBlurb; }

#mainArrow { grid-area: mainArrow; }

#onlineEthnographyIcon { grid-area: onlineEthnographyIcon; }

#interviewIcon { grid-area: interviewIcon; }

#questionnaireIcon { grid-area: questionnaireIcon; }

#onlineEthnographyBlurb { grid-area: onlineEthnographyBlurb; }

#interviewBlurb { grid-area: interviewBlurb; }

#questionnaireBlurb { grid-area: questionnaireBlurb; }