#container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;  
    grid-template-rows: auto auto auto auto auto; 
    grid-auto-columns: 1fr;
    gap: 20px 0px; 
    grid-auto-flow: row;
    grid-template-areas:
      "discoverIcon defineIcon ideateIcon designIcon testIcon"
      "discoverBlurb defineBlurb ideateBlurb designBlurb testBlurb"
      ". mainArrow mainArrow mainArrow ."
      ". onlineEthnographyIcon interviewIcon questionnaireIcon ."
      ". onlineEthnographyBlurb interviewBlurb questionnaireBlurb .";
    padding: 50px 10% 50px 10%; 
    width: 80%;
    min-height: 800px; 
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
 

img {
    width: 60%; 
    height: auto; 
    padding-left: 20%;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    color: #333;
    text-align: center;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2vh;
    font-weight: 300;
    color: #333;
    text-align: center;
}


#discoverIcon { 
    grid-area: discoverIcon; 
}

#discoverIcon { grid-area: discoverIcon; }

#defineIcon { grid-area: defineIcon; }

#ideateIcon { grid-area: ideateIcon; }

#designIcon { grid-area: designIcon; }

#testIcon { grid-area: testIcon; }

#discoverBlurb { grid-area: discoverBlurb; }

#defineBlurb { grid-area: defineBlurb; }

#ideateBlurb { grid-area: ideateBlurb; }

#designBlurb { grid-area: designBlurb; }

#testBlurb { grid-area: testBlurb; }

#mainArrow { 
    grid-area: mainArrow; 
    margin-bottom: 5%;
    margin-top: 5%;
}

#onlineEthnographyIcon { 
    grid-area: onlineEthnographyIcon; 
    padding-top: 5%;
}

#questionnaireIcon { grid-area: questionnaireIcon; 
    padding-top: 5%;}

#onlineEthnographyBlurb { grid-area: onlineEthnographyBlurb; 
    }

#questionnaireBlurb { grid-area: questionnaireBlurb; }

#interviewIcon { grid-area: interviewIcon; 
    padding-top: 5%;
}

#interviewBlurb { grid-area: interviewBlurb; }