@import "main.module.css";
 

.background {
    background-color: rgb(255, 249, 240);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#titleContainer {
    background-color: rgb(255, 249, 240);
    margin-bottom: 5%;
    z-index: 1;
}

#blurb {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

#blurbText {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3vw;
    text-align: center;
    font-weight: 400;
}

#imageContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.imageContainer {
    display: flex;
    justify-content: ce nter;
    align-items: center;
}
  
.phones {
    width: 70%; 
    height: 70%;
    transform-origin: center;
    padding: 5vw;
    z-index: 2;
}

.textUnderPhone {
    font-family: 'Work Sans', sans-serif;
    font-size: 10%;
    color: rgb(52, 52, 52);
    font-weight: 400;
    position: absolute;
    top: 80%; 
    right: 7vw;
    text-align: center;
}

#teamContainer2 {
    background-color: rgb(255, 249, 240);
    z-index: 1;
}

#teamMembers {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10% 10%;
    grid-auto-flow: row;
    grid-template-areas:
      "Person1 Person2"
      "Person3 .";
    padding-left: 10%;
    margin-bottom: 2%;
}
  
#person1 { grid-area: Person1; }

#person2 { grid-area: Person2; }

#person3 { grid-area: Person3; }

#problemContainer {
    display: flex;
    align-self: center;
    column-gap: 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

#problemText {
    font-size: 30%;
}

#donutGraph {
    width: 30%;
    height: 30%;
    padding-left: 10%;
    margin-top: -5%;
}
/* 
.designDecisions {
    
} */

.ddImage {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.ddTextContainer {
    display: flex;
    margin-left: 5%;
}

#dd1Text1 {
    width: 121%;
    margin-left: 5.3%;
    margin-right: 8%;
    font-size: 100%;
}

#dd1Text2 {
    width: 195%;
    margin-right: 10%;
    font-size: 100%;
}

#dd2Text1 {
    width: 195%;
    margin-left: 5.3%;
    margin-right: 9%;
    font-size: 100%;
}

#dd2Text2 {
    width: 195%;
    margin-right: 10%;
    font-size: 100%;
}



  
  