@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.background {
    background-color: rgb(255, 249, 240);
    position: absolute;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(4rem, 8vw, 6rem);
    font-weight: 700;
    color: rgba(233, 139, 139, 1);
    margin: clamp(0.5rem, 1vw, 1rem);
    margin-left: 5vw;
    border-bottom: 2px solid rgb(0, 0, 0);
}
 
p {
    padding-right: 5%;
    font-family: 'Work Sans', sans-serif;
    font-size: calc(0.8vw + 0.8vh);
    color: rgb(70, 70, 70);
    font-weight: 400;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3vw;
    color: rgba(233, 139, 139, 1);
    font-weight: 400;
    margin-bottom: -0.3%;
}

.newSubtitle {
    padding-left: 5%;
}

.paragraph {
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    
}

.blockContent {
    display: block;
}

.flexContent {
    display: flex;
}

.boldText {
    color: rgb(105, 105, 105);
    font-weight: 600;
}

.blackTitleText {
    color: rgb(0, 0, 0);
}

#backArrow {
    width: clamp(0rem, 4vw, 2rem);
    height: auto;
    vertical-align: middle;
    display: inline-block;
    margin-left: -20%;
    margin-right: 5%;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(0.5rem, 3vw, 2rem);
    font-weight: 400;
}

.circleImage {
    width: 100%;
    padding-right: 20%;
}

.circleFrame {
    width: 90%; 
    height: 90%;
    margin-top: 5%;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#teamMembers {
    display: flex;
    flex-wrap: wrap;
}

.teamMemberDescription {
    padding-left: 5%;
}


.viewPDFButton {
    background-color: rgb(255, 249, 240);
    color: rgba(233, 139, 139, 1);
    border: 0.2vmin solid rgba(233, 139, 139, 1);
    font-size: 2.5vmin; 
    border-radius: 2vmin; 
    cursor: pointer;
    font-weight: 200;
    min-width: 15vw;
    min-height: 5vh;
    padding: 1.5vh 2.5vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.viewPDFButton span {
    color: rgba(233, 139, 139, 1);
    margin-left: 1vw; 
    font-size: 2.5vmin; 
}
 
.viewPDFButton a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.viewPDFButton:hover {
    transform: scale(1.03);
}

