@import "main.module.css";

.background {
    margin-bottom: -100%;
}

p {
    padding-right: 5%;
    font-family: 'Work Sans', sans-serif;
    font-size: calc(1vw + 1vh);
    color: rgb(70, 70, 70);
    font-weight: 400;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: calc(1.7vw + 1.7vh);
    color: rgba(233, 139, 139, 1);
    font-weight: 400;
    text-align: left;
}

.projectTitle {
    padding-left: 5%;
}

#loadingText {
    font-family: 'Work Sans', sans-serif;
    font-size: calc(2.5vw + 2.5vh);
    color: rgb(70, 70, 70);
    font-weight: 400;
    padding-left: 20%;
    padding-top: 15%;
    padding-right: 5%;
}

#video2 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#video3 {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}





