.container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "discoverIcon defineIcon ideateIcon designIcon testIcon"
    "discoverText defineText ideateText designText testText"
    ". mainArrow mainArrow mainArrow ."
    ". onlineEthnographyIcon interviewIcon questionnaireIcon ."
    ". onlineEthnographyBlurb interviewBlurb questionnaireBlurb .";
  gap: 20px 0;
  justify-content: center;
  padding: 50px 10%;
  width: 80%;
  max-width: 100%;
  min-height: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

img {
  width: 60%;
  height: auto;
}

.icon {
  padding-left: 20%;
}

h3,
h4 {
  font-family: "Work Sans", sans-serif;
}

.centreText h3 {
  font-size: 3vh;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 2vh;
  font-weight: 300;
  text-align: center;
}

/* Grid area assignments */
.discoverIcon {
  grid-area: discoverIcon;
}
.defineIcon {
  grid-area: defineIcon;
}
.ideateIcon {
  grid-area: ideateIcon;
}
.designIcon {
  grid-area: designIcon;
}
.testIcon {
  grid-area: testIcon;
}

.discoverText {
  grid-area: discoverText;
}
.defineText {
  grid-area: defineText;
}
.ideateText {
  grid-area: ideateText;
}
.designText {
  grid-area: designText;
}

.testText {
  grid-area: testText;
}

.mainArrow {
  grid-area: mainArrow;
  margin: 5% 0;
}

.onlineEthnographyIcon,
.questionnaireIcon,
.interviewIcon {
  padding-top: 5%;
}

.onlineEthnographyIcon {
  grid-area: onlineEthnographyIcon;
}
.questionnaireIcon {
  grid-area: questionnaireIcon;
}
.interviewIcon {
  grid-area: interviewIcon;
}

.onlineEthnographyBlurb {
  grid-area: onlineEthnographyBlurb;
}
.questionnaireBlurb {
  grid-area: questionnaireBlurb;
}
.interviewBlurb {
  grid-area: interviewBlurb;
}
