@use "../stylesheets/global" as v;

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(0.5rem, 3vw, 2rem);
    font-weight: 400;
}

.circleImage {
    width: 100%;
}

.circleFrame {
    width: 70%; 
    height: 70%;
    border-radius: 50%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.teamMembers {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
}

.teamMemberDescription {
    padding-left: 5%;
}