@use "../../../stylesheets/global" as v;


h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: calc(1.3vw + 1.3vh);
    color: rgba(233, 139, 139, 1);
    font-weight: 400;
    text-align: left;
}



.loadingText {
    font-family: 'Work Sans', sans-serif;
    font-size: calc(2.5vw + 2.5vh);
    color: rgb(70, 70, 70);
    font-weight: 400;
    padding-left: 20%;
    padding-top: 15%;
    padding-right: 5%;
}

/* --- Project 1: Virtual Scroll --- */
.videoP1 video {
    width: 90%;  
    height: auto; 
    padding-top: 10%;
    
}

.descriptionText {
  padding-top: 5%;
  width: 80%;
  white-space: pre-wrap;
}

.imageP1_sprint {
  width: 30%;
  height: auto;
  margin-top: -3%;
}

.imageP1_board {
  width: 90%;
  height: auto;
}

.imageP1_group {
  width: 30%;
  height: auto;
  margin-top: -3%;
}

/* --- Project 2: Crypto Info --- */
.videoP2 {
    padding-right: 5%;
    padding-top: 2%;
    width: 25%;
}

/* --- Project 3: Tower Defence --- */
.videoP3 {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    width: 130%;
}

.textBlockP3 {
  padding-left: 10%;
  width: 100%;
}

.blockContentP3 {
  padding-left: 15%;
}

/* --- Project 4: Pacman --- */
.videoP4 {
  width: 50%;
}

.imageP4 {
  width: 35%;
  height: auto;
  padding: 0 5%;
  margin-top: -3%;
}


